@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#question-area {
    opacity: 1;
    transition: all .4s ease-in-out !important;
}

#question-area.hidden {
    opacity: 0;
    transition: all .4s ease-in-out !important;
}

.quesion {
    display: block;
    overflow: hidden;
    width: 100vw;
}

.answer {
    background-size: 100% auto !important;
    transition: all .25s ease-in-out;
    border-radius: 16px;
}

.answer:hover {
    background-size: 125% auto !important;
    transition: all .4s ease-in-out !important;
    border-radius: 32px;
}

.question-area {
    overflow: scroll;
    display: block;
}

.center {
    position: sticky !important;
    top: 0 !important;
    margin-top: 2vw;
    background: #fff;
    width: 100vw;
    padding-right: 1vw;
}

body {
    overflow-x: hidden;
}

#subtitle {
    max-height: 25vh;
}