/* theme backgrounds */



.center-items.ci-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-items.ci-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.center-items-include.ci-child {
    position: absolute;
    top: max(265px, 50%);
    transform: translateY(-50%);
}

.full.f-child {
    height: 100%;
    width: 100%;
}

.signup-form-box {
    width: 400px;
    height: calc(auto + 25px);
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(2.35px);
    border-radius: 15px;
}

.sub-signup-form-box {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(3.5px) saturate(0.5);
    border-radius: 5%;
}

.signup-form-box:hover {

    backdrop-filter: blur(2.95px) saturate(1.25);
}

.signup-form-box>* {
    margin: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.bgcredits {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.238);
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    backdrop-filter: blur(0.2px);
    border: 1px solid #ffffff00;
    width: fit-content;
}

.bgcredits:hover {
    backdrop-filter: blur(3.55px) saturate(0.5);
    border: 1px solid #fff;
}

body#taytay {
    background-image: url(images/taytay.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}

hr {
    border: 1px solid #fff;
    width: 370px;
}